*{
    margin: 0%;
}

/* Style du carré*/
#bdId{
   
    background-color:#F5F5F5;
    border-radius: 10px;
    width:80%;
    right:10%;
    margin-left:10%;
    margin-top:10%;
    height:70%;
    position:fixed;
}
/* Valeur Réél*/
#div_ValeurReel{
   border: 2px solid black;
    border-radius: 18px ;
    width:max-content;
    margin-left:38%;
    position:fixed;
     margin-top:6%;
    width:34%;
    height:38%;
  
}
#btId{
   /* background-color:#dfdf13;*/
    margin-top:26%;
    margin-left:40%;
    position:fixed;
    /*width: 45%;*/
}
#div_Channel{
    position:fixed;
     border: 2px solid black;
    border-radius: 18px ;
     margin-top:6%;
    margin-left:15%;
    width:22%;
    
}
#div_Port{
    position:fixed;
    margin-left:15%;
    margin-top:2%;
    width:20%;
     border: 2px solid black;
    border-radius: 22px ;
}
#aide{
    position:fixed;
    margin-left:40%;
    margin-top:2%;
    border: 2px solid black;
    border-radius: 22px ;
    width:30%;
    height:4.7%;
}

nav{
    background-color:#080808;
    height:11%;
    width:100%;
    position:fixed;
}



/*Channel*/

 #chBoxId{
     
    height: 5vh;
    width: 10vh;   
    margin-left:15%;
   background-color:aliceblue;
   margin-top:3vh;
   position:fixed;
   
}

#lbDiv{
height: 37vh;
}
#ldChaDiv{
    margin-top: 27%;
    margin-left: 7vh;
}

#Id_Channel1{
   height:3vh;
   width:5vh;
 }
#inPut1,#inPut2{
    margin-top: 1vh;
    height: 3vh;
    width: 8vh;
}
#chBox1{
    margin-top:15vh;
 }
/*Aide*/
#iptAide{
    width:60%;
    margin-left:25%;
    margin-top:1.4%
}
/* lable*/
label{
    padding-top:0%;
}
#lbDiv{
    
 
    margin-top:0vh;
    margin-left: 1vh;
}

/* Valeur Réélle*/
#ch12ValeurReel{
     display: inline-block;
     margin-left: 9vh;
     margin-top: 7vh;
     font-size: 3vh;
}
#ch34ValeurReel{
    display: inline-block;
    margin-left: 20vh;
    margin-top:8%;
    text-align:left
   
}
h1{
    margin-left: 2vh;
}

#h2ValeurReel{
    padding-top: 1vh;
}
/*Port*/
#h1Port,#pet-select{
    display:inline-block;
    margin-left: 2vh;
}
/* Nav*/
#h1Nav{
    color:white;
    font-size:-webkit-xxx-large;
    margin-left:5%;
    margin-top:1%;
    font-family:Noto Sans, sans-serif;
}
h1{
        font-family:Noto Sans, sans-serif
}
ul{
    position:fixed;
    top:5vh;
    right:30vh
 }
 a,li{
    display:inline-block;
    margin-right:5vh;
    font-size:2vh;
    color:white
 }
/*bouton*/
button{
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    height: 10%;
    color: white;
    width: 27%;
    margin-left:1vh;
   margin-top:1vh;
    /*width: 15%;*/
}