* {
    margin: 0%;
}

/* Style du carré */
#bdId {
    background-color: #F5F5F5;
    border-radius: 20px;
    width: 80%;
    right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    height: 76%;
    position: fixed;
}

/* Valeur Réél */
#div_ValeurReel {
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    width: max-content;
    margin-left: 38%;
    position: fixed;
    margin-top: 6%;
    width: 34%;
    height: 38%;
    background-color: #F9F9F9;
}

#btId {
    margin-top: 26%;
    margin-left: 40%;
    position: fixed;
}

#div_Channel {
    position: fixed;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    margin-top: 6%;
    margin-left: 15%;
    width: 22%;
    background-color: #F9F9F9;
}

#div_Port {
    position: fixed;
    margin-left: 15%;
    margin-top: 2%;
    width: 20%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    background-color: #F9F9F9;
}

#aide {
    position: fixed;
    margin-left: 40%;
    margin-top: 2%;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    width: 30%;
    height: 4.7%;
    background-color: #F9F9F9;

    justify-content: center;
    align-items: center;
}

nav {
    background-color: #080808;
    height: 11%;
    width: 100%;
    position: fixed;
}

/* Channel */
#chBoxId {
    height: 5vh;
    width: 10vh;
    margin-left: 15%;
    /*background-color:;*/
    margin-top: 3vh;
    position: fixed;
    border-radius: 50%;
}

#chBox1 {
    margin-top: -1vh;
}

#chBox2,
#chBox3,
#chBox4 {
    margin-top: 8.5vh;
}

#Id_Channel1,
#Id_Channel2,
#Id_Channel3,
#Id_Channel4 {
    height: 5vh;
    width: 2vh;
    background-color: #333333;
    border-radius: 50%;
}

/* Aide */
#iptAide {
    width: 60%;
    margin-left: 25%;
    margin-top: 1.4%;
    
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

/* Label */
label {
    padding-top: 0%;
}

#lbDiv {
    margin-top: 0vh;
    margin-left: 1vh;
}

/* Valeur Réélle */
#ch12ValeurReel {
    display: inline-block;
    margin-left: 9vh;
}

#ch34ValeurReel {
    display: inline-block;
    margin-left: 20vh;
    margin-top: 8%;
    text-align: left;
}

h1 {
    margin-left: 2vh;
    font-family: Noto Sans, sans-serif;
    color: #333333;
}

#h2ValeurReel {
    padding-top: 1vh;
}

/* Port */
#h1Port,
#pet-select {
    display: inline-block;
    margin-left: 2vh;
    color: #333333;
}

/* Nav */
#h1Nav {
    color: white;
    font-size: -webkit-xxx-large;
    margin-left: 5%;
    margin-top: 1%;
    font-family: Noto Sans, sans-serif;
}

ul {
    position: fixed;
    top: 5vh;
    right: 30vh;
}

a,
li {
    display: inline-block;
    margin-right: 5vh;
    font-size: 2vh;
    color: white;
}

/* Bouton */
button {
    text-decoration: none;
    background-color: #333333;
    border-radius: 10px;
    height: 10%;
    color: white;
    width: 27%;
    margin-left: 1vh;
    margin-top: 1vh;
    font-family: Noto Sans, sans-serif;
}